---
summary: Blog Index
title: Blog
navorder: 10
eleventyNavigation:
    key: blog
    title: Blog 
    order: 8
---

 <h2>{{ summary }}</h2>

{% for page in collections.all | reverse %}
  {% if page.url.startsWith('/blog/') and page.url != '/blog/' %}
    <a href="{{ page.url }}" role="button" class="outline">
      <h3>{{ page.data.title }}</h3>
      {% displayDate page.data.date, 'MMM do yyyy' %}, {{ page.data.description }}
    </a><br>
    {% for tag in page.data.tags %}[{{- tag -}}]{%- if not loop.last -%}, {% endif -%}{% endfor %}<br>
  {% endif %}
{% endfor %}
