# copy this file to .env and make sure .env is listed in .gitignore

# Config for Sveltia CMS to uise on a Git server instead of locally

# ### for Sveltia CMS use with a GITHUB server ###

# # to use an access token with github directly, the next two lines must be defined
SITE1_CMS_NAME=github
SITE1_CMS_REPO=name/repo
SITE1_CMS_BRANCH=main
# if using a github enterprise server with access token ONLY then the following line must be defined
# SITE1_CMS_BASE_URL=https://agithubserver.example.com
# but the github server, enterprise or not, is found differently if you want to use a logon
# to also use Sveltia CMS with github logon and access token, the next line must be used INSTEAD, it must not be a github server, and no more cms_lines are ordinarily defined
# SITE1_CMS_BASE_URL=https://auth.example.com


# OR


# ### for Sveltia CMS use with a FORGEJO or GITEA server ###

# # to instead use a forgejo or gitea server with both access token and logon, the next six lines must be defined INSTEAD, unlike for github, the auth server can be on the same server name as repo
# SITE1_CMS_NAME=gitea
# SITE1_CMS_REPO=name/repo
# SITE1_CMS_BASE_URL=https://aforgejoserver.example.com
# SITE1_CMS_API_ROOT=https://aforgejoserver.example.com/api/v1
# SITE1_CMS_AUTH_ENDPOINT=/login/oauth/authorize
# SITE1_CMS_APP_ID=1111aaaa-22bb-33cc-44dd-555555eeeeee
# SITE1_CMS_BRANCH=main


# defaults used for specified name gitea (includes forgejo), github and gitlab
# if base_url is not specified then DEFAULT_AUTH_ROOT is ued to construct base_url
# the DEFAULT_AUTH_PATH, if it exists, gets added to the DEFAULT_AUTH_ROOT
# the DEFAULT_API_ROOT is used for token access

# for name forgejo and gitea, see https://github.com/sveltia/sveltia-cms src/lib/services/backends/git/gitea/constants.js
# export const DEFAULT_API_ROOT = 'https://gitea.com/api/v1';
# export const DEFAULT_AUTH_ROOT = 'https://gitea.com';
# export const DEFAULT_AUTH_PATH = 'login/oauth/authorize';


# for name github, see https://github.com/sveltia/sveltia-cms src/lib/services/backends/git/github/constants.js
# export const DEFAULT_API_ROOT = 'https://api.github.com';
# export const DEFAULT_AUTH_ROOT = 'https://api.netlify.com';
# export const DEFAULT_AUTH_PATH = 'auth';
# export const DEFAULT_PKCE_AUTH_ROOT = 'https://github.com';
# export const DEFAULT_PKCE_AUTH_PATH = 'login/oauth/authorize';


# for name gitlab, see https://github.com/sveltia/sveltia-cms src/lib/services/backends/git/gitlab/constants.js
# export const DEFAULT_API_ROOT = 'https://gitlab.com/api/v4';
# export const DEFAULT_AUTH_ROOT = 'https://gitlab.com';
# export const DEFAULT_AUTH_PATH = 'oauth/authorize';

