---
layout: default.njk
---
{% if page.url.startsWith('/blog/') and page.url != '/blog/' %}
<h1>{{ title }}</h1>

<h2>{{ description }}</h2>
{%- set pagination = collections.all | filterBlogs | paginatePost(page.url) -%}
{%- if pagination.previous %}{% set prevLink %}<- <a href="{{ pagination.previous.url }}">{{ pagination.previous.title | truncate(20) }}</a>,&nbsp;&nbsp{% endset %}{% endif %}
{% if pagination.next %}{% set nextLink %}<a href="{{ pagination.next.url }}">{{ pagination.next.title | truncate(20) }}</a> ->{% endset %}{% endif %}<br>

{% displayDate date %},&nbsp;&nbsp;&nbsp;{{ prevLink | safe }} {{ nextLink | safe }}<br>
{% for tag in tags | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	[<a href="{{ tagUrl }}">{{ tag }}</a>]
{% endfor %}<p>
{% endif %}

{{ content | safe }}

{{ prevLink | safe }} {{ nextLink | safe }}

