{% extends 'blades/html.njk' %}

{% set content_for_header %}
  {% if not site.nohtmx -%}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" defer></script>
    {% if site.corsprod or not site.prod -%}
    <meta name="htmx-config" content='{"selfRequestsOnly": false}'>
    {%- endif %}
  {%- endif %}
<style>
  {% include "node_modules/@anyblades/pico/css/pico.blades.min.css" %}
  footer {
    text-align: center;
  }
  nav,
  nav ul {
    flex-wrap: wrap;
    background: var(--pico-background-color);
    /*border: var(--pico-border-width) solid var(--pico-muted-border-color);*/
    top: auto;
    z-index: auto;
    position: static;
  }
  @media (min-width: 576px) {
    nav,
    nav ul {
      flex-wrap: nowrap;
      top: 0;
      z-index: 1000;
      position: sticky;
    }
  }
  form .contact-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
  @media only screen and (max-width: 576px) {
    form .contact-container {
      grid-template-columns: auto;
    }
  }
  .mw100px {
    min-width: 100px;
  }
  a[role="button"] {text-align: start; border-width: 1px 0 0 1px; margin: 0.9rem 0 0 -1rem; }
</style>
{% endset %}

{% block body %}
  {%- set nav_pages = collections.all | eleventyNavigation | dataNavigation %}
  {%- renderFile '_includes/nav.liquid', nav_pages  %}
  <main class="container breakout-all">
      {{ content | safe }}
  </main>
  <footer>
    <hr />
    {{ site.footer | renderContent('njk,md', site) | safe }}
  </footer>
{% endblock %}
