{% extends 'blades/html.njk' %}

{% block body %}
  <main class="container pico">
      {{ content | safe }}
  <footer class="prose">
    <hr />
    {{ site.footer | renderContent('njk,md', site) | safe }}
  </footer>
{% endblock %}
